.wrapper {
    min-width: 300px;
    max-width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, rgba(212, 224, 226, 0.5), rgba(234, 231, 245, 0.5));
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.box {
    width: 18%;
    height: 18%;
    margin: auto;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.3);
    background: linear-gradient(45deg, rgb(255, 235, 162), rgb(244, 255, 206));
}

.box:nth-child(3n+3) {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, rgb(225,192,218), rgb(191,216,240));
}

.box:first-child, .box:last-child {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(-165deg, rgb(241, 198, 197), rgb(209,162,193));
}

.box:last-child {
    margin-bottom: -10px;
    border: 1px solid #fff;
}